 /* -------------------------------- Reset command default values -------------------------------------*/
*, *:before, *:after {
  box-sizing: border-box;
}

html, body{
  height:100%;
 padding:1em;
}

ul{
    list-style-type: none;
    padding: 0;
}

a {
    border: 0;
    color: #000000;
    display: block;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
}

a:hover {
    color: #da1664;
	/* #da1664; */
	/* #42a8bd */
	/* #80bb44 */
	/* text-decoration:underline; */
	transition: color 0.3s ease;
} 
/* -------------------------------- /Reset command default values -------------------------------------*/


/* ------------------------------------- Main components ---------------------------------------------*/
main {
    float:left;
    width:45%;
}

section {
    width:85%;
    margin:auto;
    /*text-align:center;*/
}

aside {
    height:100%;
}

.leftDiv {
    width: 20%;
    float: left;
}

.rightDiv {
    width:35%;
    float:right;
    /*text-align:right;*/
}

/* ------------------------------------- /sidebar ---------------------------------------------*/
 

.sidebar.left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%; 
    border-left:dotted 1px #cccccc; 
}

.sidebar.right {
    top: 0;
    right: 10px;
    bottom: 0;
    width: 35%; 
    border-right:dotted 1px #cccccc; 
}
 

.sidebars > .sidebar {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
    position: fixed;
    color: white;
    padding: 30px; 
    text-align: center;
}
.article{
    background:green;
}
/* ------------------------------------- /Main components ---------------------------------------------*/

/* IDS */
#all_articles{
    background:red;
    padding:10px;
}
#main_article{
    background: aqua; 
    padding:10px;
}