---
layout: page
---

<aside class="col-md-2 myBtn" data-action="toggle" data-side="left"></aside>


<main class="col-md-6">
    
    <section id="main_article" class="right myBtn" data-action="toggle" data-side="right"></section>

    <div class="horiz_line h_center"><div></div></div>

    <section id="all_articles">
        <ul>
            {% for post in site.posts %}
            <li>
                <div tag="{{post.url |   remove_first:'/articles/' | replace:'.html',''}}"
                     data-action="select" class="myBtn myBtnSelect article" id="{{post.url |   remove_first:'/articles/' | replace:'.html',''}}">
                    <h2>{{ post.title }}</h2>
                    <div class="content"> {{ post.content }}</div>
                    <div class="horiz_line h_center"><div></div></div>
                </div>
            </li>   
            {% endfor %}
        </ul>
    </section>

</main>

<aside class="col-md-4 myBtn" data-action="toggle" data-side="right"></aside>
<div class="sidebars">
    <div class="sidebar left col-md-2 myBtn" data-action="toggle" data-side="left"> 
        <div class="v_center" style="float:left;">
            <ul  style="float:left;">
                {% assign used_tags ="" | split:"|"  %}
                
                {% for post in site.posts %}
                    {% if post.tags.size > 0 %}

                        {% for post_tag in post.tags %}
                            {% for data_tag in site.data.tags %}
                                {% if data_tag.slug == post_tag %}
                                    {% assign tag = data_tag %}    
                                {% endif %}
                            {% endfor %}

                            {% if tag %}
                                {% for used_tag in used_tags %}
                                    {% if used_tag == tag.name %}
                                        {% assign oldtag = tag.name %}    
                                    {% endif %}
                                {% endfor %}

                                {% if oldtag != tag.name %}      
                                    {% assign used_tags = used_tags | push: tag.name %}
                                    <li>
                                        <a href="/tag/{{ tag.slug }}/">{{ tag.name }}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}                                            

                        {% for arr in my_array %}
                            <li> {{arr}}</li>
                        {% endfor %}

                    {% endif %}
                {% endfor %}
            </ul>    
        </div>
        <div class="arrow left">
            <div class="ver_line v_center"><div></div></div>
        </div>
    </div>
    <div class="sidebar right col-md-4 myBtn" data-action="toggle" data-side="right" id="comments">
        <div class="arrow right">
            <div class="ver_line v_center"><div></div></div>
        </div>
        <div class="fb-comments" data-href="http://imafcritic.github.io/articles/{{ site.posts.first.url   |   remove_first:'/articles/' | replace:'.html',''}}" tag="http://imafcritic.github.io/articles/" data-numposts="10" data-width="400" data-order-by="reverse_time"></div>
    </div>
</div>