---
layout: page
---

<aside class="left">
        <ul>
            {% for post in site.posts %}
            <li>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
            {% endfor %}

        </ul>
</aside>

<main>
	<noscript>
	&lt;style&gt;article .footnotes{display:block;}&lt;/style&gt;
	</noscript>
	<section>
		<ul>
		  {% for post in site.posts %}
		  <li> <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> 
                {{ post.content }}
          </li>
		  {% endfor %}

		</ul>
	</section>
</main>

<aside class="right">
   <div class="fb-comments" data-href="http://imafcritic.github.io/articles/{{ page.FBUrl }}/" data-numposts="10" data-width="400" data-order-by="reverse_time"></div>
</aside>